{% extends "base.html" %}

{% load static %}
{% block content %}

















                    <div class="row">

<div class="col-xs-pull-9 col-lg-6 col-md-12 col-sm-12 col-12" style="float:left">
                            <div class="section-block">
                                <h5 class="section-title">Accordions with Icon</h5>
                                <p>Takes the basic nav from above and adds the .nav-tabs class to generate a tabbed interface..</p>
                            </div>
                            <div class="accrodion-regular">
                                <div id="accordion3">
                                    <div class="card">
                                        <div class="card-header" id="headingSeven">
                                            <h5 class="mb-0">
                                               <button class="btn btn-link" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="true" aria-controls="collapseSeven">
                                                 <span class="fas fa-angle-down mr-3"></span>Accordion Heading Title Here
                                               </button>
                                              </h5>
                                        </div>
                                        <div id="collapseSeven" class="collapse show" aria-labelledby="headingSeven" data-parent="#accordion3">
                                            <div class="card-body">
                                                <p class="lead"> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.</p>
                                                <p> Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</p>
                                                <a href="#" class="btn btn-secondary">Go somewhere</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card mb-2">
                                        <div class="card-header" id="headingEight">
                                            <h5 class="mb-0">
                                               <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                                                 <span class="fas fa-angle-down mr-3"></span>Accordion Heading Title Here
                                             </button>       </h5>
                                        </div>
                                        <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordion3">
                                            <div class="card-body">
                                                Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card mb-2">
                                        <div class="card-header" id="headingNine">
                                            <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                                  <span class="fas fa-angle-down mr-3"></span>Accordion Heading Title Here
                                             </button>
                                                       </h5>
                                        </div>
                                        <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#accordion3">
                                            <div class="card-body">
                                                Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-tabhetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ============================================================== -->
                        <!-- end accrodions style two -->
                        <!-- ============================================================== -->
                        <!-- ============================================================== -->
                        <!-- accrodions style four -->
                        <!-- ============================================================== -->
                        <div class="col-xs-pull-9 col-lg-6 col-md-10 col-sm-10 col-10" style="float:right; display=inline-block">
                            <div class="section-block">
                                <h5 class="section-title">Accordions with Color</h5>
                                <p>Takes the basic nav from above and adds the .nav-tabs class to generate a tabbed interface..</p>
                            </div>
                            <div class="accrodion-regular">
                                <div id="accordion4">
                                    <div class="card bg-primary">
                                        <div class="card-header" id="headingTen">
                                            <h5 class="mb-0">
                                               <button class="btn btn-link text-white" data-toggle="collapse" data-target="#collapseTen" aria-expanded="true" aria-controls="collapseTen">
                                                 <span class="fas fa-angle-down mr-3"></span>Accordion Heading Title Here
                                               </button>
                                              </h5>
                                        </div>
                                        <div id="collapseTen" class="collapse show" aria-labelledby="headingTen" data-parent="#accordion4">
                                            <div class="card-body">
                                                <p class="lead text-white"> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.</p>
                                                <p> Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</p>
                                                <a href="#" class="btn btn-secondary">Go somewhere</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card bg-brand ">
                                        <div class="card-header" id="headingEleven">
                                            <h5 class="mb-0">
                                               <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
                                                 <span class="fas fa-angle-down mr-3"></span>Accordion Heading Title Here
                                             </button>       </h5>
                                        </div>
                                        <div id="collapseEleven" class="collapse" aria-labelledby="headingEleven" data-parent="#accordion4">
                                            <div class="card-body">
                                                Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card bg-secondary">
                                        <div class="card-header" id="headingTwelve">
                                            <h5 class="mb-0">
                            <button class="btn btn-link collapsed text-white" data-toggle="collapse" data-target="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve">
                                  <span class="fas fa-angle-down mr-3"></span>Accordion Heading Title Here
                                             </button>
                                                       </h5>
                                        </div>
                                        <div id="collapseTwelve" class="collapse" aria-labelledby="headingTwelve" data-parent="#accordion4">
                                            <div class="card-body">
                                                Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-tabhetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ============================================================== -->
                        <!-- end accrodions style four -->
                        <!-- ============================================================== -->
                    </div>
              

{% endblock %}