{% block content %}
<style>
.card.draggable {
    margin-bottom: 1rem;
    cursor: grab;
}

.droppable {
    background-color: var(--success);
    min-height: 120px;
    margin-bottom: 1rem;
}

</style>
<div class="container-fluid pt-3">
    <h3 class="font-weight-light text-white">Kanban Board</h3>
    <div class="small  text-light">Drag and drop between swim lanes</div>
    <div class="row flex-row flex-sm-nowrap py-3">
        <div class="col-sm-6 col-md-4 col-xl-3">
            <div class="card bg-light">
                <div class="card-body">
                    <h6 class="card-title text-uppercase text-truncate py-2">Pending Start</h6>
                    <div class="items border border-light">
                        <div class="dropzone rounded" ondrop="drop(event)" ondragover="allowDrop(event)" ondragleave="clearDrop(event)"> &nbsp; </div>

                    {% for post in pending %}
                        <div class="card draggable shadow-sm" id="cd{{ post.id }}" draggable="true" ondragstart="drag(event)">
                            <div class="card-body p-2">
                                <div class="card-title">
                                    <img src="//placehold.it/30" class="rounded-circle float-right">
                                    <a href="" class="lead font-weight-light">{{ post.title }}</a>
                                </div>
                                <p>
                                    {{ post.description }}
                                </p>
                                <button class="btn btn-primary btn-sm"><a href="{% url 'post-detail' post.id %}">View</a></button>
                            </div>
                        </div>
                        <div class="dropzone rounded" ondrop="drop(event)" ondragover="allowDrop(event)" ondragleave="clearDrop(event)"> &nbsp; </div>
    {% endfor %}

                       
                    </div>
                </div>
            </div>
        </div>




        <div class="col-sm-6 col-md-4 col-xl-3">
            <div class="card bg-light">
                <div class="card-body">
                    <h6 class="card-title text-uppercase text-truncate py-2">In Progress</h6>
                    <div class="items border border-light">
                        <div class="dropzone rounded" ondrop="drop(event)" ondragover="allowDrop(event)" ondragleave="clearDrop(event)"> &nbsp; </div>

                    {% for post in progress %}
                        <div class="card draggable shadow-sm" id="cd{{post.id}}" draggable="true" ondragstart="drag(event)">
                            <div class="card-body p-2">
                                <div class="card-title">
                                    <img src="//placehold.it/30" class="rounded-circle float-right">
                                    <a href="" class="lead font-weight-light">{{ post.title }}</a>
                                </div>
                                <p>
                                    {{ post.description }}
                                </p>
                                <button class="btn btn-primary btn-sm"><a href="{% url 'post-detail' post.id %}">View</a></button>
                            </div>
                        </div>
                        <div class="dropzone rounded" ondrop="drop(event)" ondragover="allowDrop(event)" ondragleave="clearDrop(event)"> &nbsp; </div>
    {% endfor %}

                       
                    </div>
                </div>
            </div>
        </div>
        

                <div class="col-sm-6 col-md-4 col-xl-3">
            <div class="card bg-light">
                <div class="card-body">
                    <h6 class="card-title text-uppercase text-truncate py-2">Pending for Review</h6>
                    <div class="items border border-light">
                        <div class="dropzone rounded" ondrop="drop(event)" ondragover="allowDrop(event)" ondragleave="clearDrop(event)"> &nbsp; </div>

                    {% for post in pendingreview %}
                        <div class="card draggable shadow-sm" id="cd{{post.id}}" draggable="true" ondragstart="drag(event)">
                            <div class="card-body p-2">
                                <div class="card-title">
                                    <img src="//placehold.it/30" class="rounded-circle float-right">
                                    <a href="" class="lead font-weight-light">{{ post.title }}</a>
                                </div>
                                <p>
                                    {{ post.description }}
                                </p>
                                <button class="btn btn-primary btn-sm"><a href="{% url 'post-detail' post.id %}">View</a></button>
                            </div>
                        </div>
                        <div class="dropzone rounded" ondrop="drop(event)" ondragover="allowDrop(event)" ondragleave="clearDrop(event)"> &nbsp; </div>
    {% endfor %}

                       
                    </div>
                </div>
            </div>
        </div>


                <div class="col-sm-6 col-md-4 col-xl-3">
            <div class="card bg-light">
                <div class="card-body">
                    <h6 class="card-title text-uppercase text-truncate py-2">Client Feedback</h6>
                    <div class="items border border-light">
                        <div class="dropzone rounded" ondrop="drop(event)" ondragover="allowDrop(event)" ondragleave="clearDrop(event)"> &nbsp; </div>

                    {% for post in feedback %}
                        <div class="card draggable shadow-sm" id="cd{{post.id}}" draggable="true" ondragstart="drag(event)">
                            <div class="card-body p-2">
                                <div class="card-title">
                                    <img src="//placehold.it/30" class="rounded-circle float-right">
                                    <a href="" class="lead font-weight-light">{{ post.title }}</a>
                                </div>
                                <p>
                                    {{ post.description }}
                                </p>
                                <button class="btn btn-primary btn-sm"><a href="{% url 'post-detail' post.id %}">View</a></button>
                            </div>
                        </div>
                        <div class="dropzone rounded" ondrop="drop(event)" ondragover="allowDrop(event)" ondragleave="clearDrop(event)"> &nbsp; </div>
    {% endfor %}

                       
                    </div>
                </div>
            </div>
        </div>



                <div class="col-sm-6 col-md-4 col-xl-3">
            <div class="card bg-light">
                <div class="card-body">
                    <h6 class="card-title text-uppercase text-truncate py-2">Completed</h6>
                    <div class="items border border-light">
                        <div class="dropzone rounded" ondrop="drop(event)" ondragover="allowDrop(event)" ondragleave="clearDrop(event)"> &nbsp; </div>

                    {% for post in completed %}
                        <div class="card draggable shadow-sm" id="cd{{post.id}}" draggable="true" ondragstart="drag(event)">
                            <div class="card-body p-2">
                                <div class="card-title">
                                    <img src="//placehold.it/30" class="rounded-circle float-right">
                                    <a href="" class="lead font-weight-light">{{ post.title }}</a>
                                </div>
                                <p>
                                    {{ post.description }}
                                </p>
                                <button class="btn btn-primary btn-sm"><a href="{% url 'post-detail' post.id %}">View</a></button>
                            </div>
                        </div>
                        <div class="dropzone rounded" ondrop="drop(event)" ondragover="allowDrop(event)" ondragleave="clearDrop(event)"> &nbsp; </div>
    {% endfor %}

                       
                    </div>
                </div>
            </div>
        </div>


               
            </div>
        </div>
        <!-- CSS only -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

<!-- JS, Popper.js, and jQuery -->

<script>

const drag = (event) => {
  event.dataTransfer.setData("text/plain", event.target.id);
}

const allowDrop = (ev) => {
  ev.preventDefault();
  if (hasClass(ev.target,"dropzone")) {
    addClass(ev.target,"droppable");
  }
}

const clearDrop = (ev) => {
    removeClass(ev.target,"droppable");
}

const drop = (event) => {
  event.preventDefault();
  const data = event.dataTransfer.getData("text/plain");
  const element = document.querySelector(`#${data}`);

  try {
    // remove the spacer content from dropzone
    event.target.removeChild(event.target.firstChild);
    // add the draggable content
    event.target.appendChild(element);
    // remove the dropzone parent
    unwrap(event.target);
  } catch (error) {
    console.warn("can't move the item to the same place")
  }
  updateDropzones();
}

const updateDropzones = () => {
    /* after dropping, refresh the drop target areas
      so there is a dropzone after each item
      using jQuery here for simplicity */
    
    var dz = $('<div class="dropzone rounded" ondrop="drop(event)" ondragover="allowDrop(event)" ondragleave="clearDrop(event)"> &nbsp; </div>');
    
    // delete old dropzones
    $('.dropzone').remove();

    // insert new dropdzone after each item   
    dz.insertAfter('.card.draggable');
    
    // insert new dropzone in any empty swimlanes
    $(".items:not(:has(.card.draggable))").append(dz);
};

// helpers
function hasClass(target, className) {
    
    return new RegExp('(\\s|^)' + className + '(\\s|$)').test(target.className);
}

function addClass(ele,cls) {
    
  if (!hasClass(ele,cls)) ele.className += " "+cls;
}

function removeClass(ele,cls) {

  if (hasClass(ele,cls)) {
    var reg = new RegExp('(\\s|^)'+cls+'(\\s|$)');
    ele.className=ele.className.replace(reg,' ');
  }
}

function unwrap(node) {
    console.log(node);
    node.replaceWith(...node.childNodes);
}

</script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
{% endblock content %}
